<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
  <title><%= title %></title>
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                Mongoose Airlines
              <p id="slogan">NO SNAKES ON OUR PLANES</p>
          </div>

        <img class="mongoose" src="/images/mongoose.png" alt="Mongoose">
          <nav>

            <ul>
              <li> <a href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>>ADD FLIGHT</a>
              </li>
              <li><a href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>>ALL FLIGHTS</a>
              </li>
            </ul>
          </nav>
    </header>

  <main>
    <h1><%= title %></h1>