<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
  <title>404 Error</title>
</head>
<body class = "errorBody">
      <header>
        <div class="wrapper">
            <div class="logo">
                Mongoose Airlines
              <p id="slogan">NO SNAKES ON OUR PLANES</p>
          </div>
        <img class="mongoose" src="/images/mongoose.png" alt="Mongoose">
      </header>
      <section>
            <h2>Uh oh!</h2>
            <img class="error" src="/images/snakesonaplane.jpg" alt="Snakes on a Plane">
      </section>



</body>
</html>