* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  font-family: 'Fjalla One', sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  background-color: #e3fdfd;
  grid-template-rows: 100px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

.mongoose {
  margin: 30px 0 5px 5px;
  width: 120px;
}
header {
  width: 100%;
  height: 100px;
  margin: auto;
  position: relative;
  background: #fff;
  overflow: hidden;
  color: #3D484A;
  background-color: #a6e3e9;
}

.wrapper {
  width: auto;
  margin: 0 auto;
}

header .logo {
  float: left;
  margin-top: 5px;
  margin-left: 25px;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 45px;
  color: #3D484A;
}

header nav {
  float: right;
  margin: 25px 0px;
}
header nav ul {
  margin-top: 0px;
}
header nav ul li {
  display: block;
  float: left;
}
header nav ul li a {
  text-decoration: none;
  color: #3D484A;
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
}
header nav ul li a.active,
header nav ul li a:hover {
  color: #3D484A;
}
header li {
  display: inline;
  border-left: 1px dashed #3D484A;
  padding: 10px 25px 10px 25px;
}
header li:first-child {
  border: none;
}

#slogan {
  margin-top: 2px;
  padding: 0px;
  margin-bottom: 0px;
  color: #3D484A;
  font-size: 20px;
  display: block;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3fdfd;
  padding: 20px;
  overflow-y: scroll;
}

h1 {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 50px;
  margin-bottom: 50px;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
}

#new-form, #add-destination {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 20rem));
}

#new-form *, #add-destination * {
  font-size: 20px;
  padding: 5px;
  border-radius: 2px;
}

#new-form input[type="submit"], #add-destination input[type="submit"]{
  grid-column: span 2;
  width: 12rem;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 120px;
}

#list a {
  border-radius: 4px;
  background-color: #a6e3e9;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

a, table{
   font-family: 'Fjalla One', sans-serif;
}

h2 {
  font-size: 60px;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 0px;
}

.error {
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.credit {
  font-size: 600px;
  text-align: right;
}